<main class="main">
  <h1>
    Prova To Do
  </h1>
  <div class="informationsArea">
    <p>Para vizualização do banco de dados MySQL acessar, informaçoes das credenciais estão no ReadMe:
      <a href="https://phpmyadmin.umbler.com/" target="_blank"> https://phpmyadmin.umbler.com/ </a>
    </p>
  </div>

  <app-tasks></app-tasks>
</main>

<router-outlet></router-outlet>
